{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your page description here">
    <meta name="keywords" content="your, keywords, here">
    <meta name="author" content="Your Name">
    <title>Exchanges Report</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app_exchanges/css/compare_prices.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar2">
            <h2>Choose your exchange</h2>
            <form id="filter-form" method="GET">
                <ul>
                    <li>
                        <input type="checkbox" id="all" name="exchange" value="all" onclick="selectAllExchanges(this);">
                        <label for="all">All Exchanges</label>
                    </li>
                    {% for value in current_ticker.values %}
                        <li>
                            <input type="checkbox" id="{{ value.exchange }}" name="exchange"
                                   value="{{ value.exchange }}" onclick="filterTable('{{ value.exchange }}', this);">
                            <label for="{{ value.exchange }}">{{ value.exchange }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="content">
            <h1>{{ ticker }}</h1>
           <h2>{{ ticker_descr }}</h2>

            <table>
                <thead>
                    <tr>
                        <th>Exchange</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Time of last trade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in current_ticker.items %}
                        <tr class="{{ value.exchange }}">
                            <td>{{ value.exchange }}</td>
                            <td>{{ value.unit_int_value }} {{ value.unit_str_value }}</td>
                            <td>{{ value.price }} $</td>
                            <td>{{ value.time_of_last_trade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
             <p class="main-page-link">
                <a href="{% url 'main_view' %}">Go to Main Page</a>
            </p>
        </div>
    </div>



    <script>
        // Load any saved checkbox states from local storage
        window.onload = function() {
            const checkboxes = document.querySelectorAll('#filter-form input[type=checkbox]');
            checkboxes.forEach(function(checkbox) {
                const checkboxState = localStorage.getItem(checkbox.id);
                if (checkboxState === 'true') {
                    checkbox.checked = true;
                }
            });
            filterTable();
        };

        function updateCheckboxState(checkbox) {
            localStorage.setItem(checkbox.id, checkbox.checked); {# apply a new value to our checkbox( either checked or unchecked #}
            filterTable();
        }

        function selectAllExchanges(checkbox) {
            const exchangeCheckboxes = document.getElementsByName('exchange') {# create an array of exchanges #}
            for (let i = 0; i < exchangeCheckboxes.length; i++) { {# for loop to iterate through  the array of checkboxes #}
                exchangeCheckboxes[i].checked = checkbox.checked; {# if ALL is checked, we prepare to mark checked all other checkboxes   #}
                updateCheckboxState(exchangeCheckboxes[i]); {# call the function to apply changes #}
            }
            filterTable();
        }

        function filterTable() {
            const exchangeCheckboxes = document.getElementsByName('exchange');
            const exchangeTable = document.querySelector('table');
            const rows = exchangeTable.getElementsByTagName('tr'); {# get a list of rows #}
            let isAnyCheckboxChecked = false; {# by default False, than create a loop #}

            for (let i = 0; i < exchangeCheckboxes.length; i++) { {# if any checkbox is checkes, set it TRUE #}
                if (exchangeCheckboxes[i].checked) {
                    isAnyCheckboxChecked = true;
                    break;
                }
            }

            for (let i = 1; i < rows.length; i++) {
                const exchangeName = rows[i].getAttribute('class'); {# get a name of the exchange #}
                let shouldDisplay = false;
                if (exchangeName) {
                    if (isAnyCheckboxChecked) {
                        for (let j = 0; j < exchangeCheckboxes.length; j++) {
                            if (exchangeCheckboxes[j].checked && exchangeCheckboxes[j].value === exchangeName) {
                                shouldDisplay = true;
                                break;
                            }
                        }
                    } else {
                        shouldDisplay = true; // Display all rows when no checkboxes are checked
                    }
                } else {
                    shouldDisplay = true; // Display rows without class (table header)
                }
                rows[i].style.display = shouldDisplay ? '' : 'none';
            }
        }
    </script>
</body>
</html>
