{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your page description here">
    <meta name="keywords" content="your, keywords, here">
    <meta name="author" content="Your Name">
    <title>Exchanges Report</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app_exchanges/css/compare_prices.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar2">
            <h2>Choose your exchanges</h2>
            <form id="filter-form" method="GET">
                <ul>
                    <li>
                        <input type="checkbox" id="all" name="exchange" value="all" onclick="selectAllExchanges(this);">
                        <label for="all">All Exchanges</label>
                    </li>
                    {% for value in current_ticker.values %}
                        <li>
                            <input type="checkbox" id="{{ value.exchange }}" name="exchange" value="{{ value.exchange }}">
                            <label for="{{ value.exchange }}">{{ value.exchange }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="content">
            <h1>{{ ticker }}</h1>
            <h1>{{ type }}</h1>
            <h2>{{ ticker_descr }}</h2>

            <table id="exchange-table">
                <thead>
                    <tr>
                        <th>Exchange</th>
                        <th>Type</th>
                        {% if currency_type != "SPOT" and currency_type != "SWAP"%}
                            <th>Settlement date</th>
                        {% endif %}
                        {% if currency_type == "SWAP"  %}
                            <th>Settlement date</th>
                            <th>Settlement date Swap</th>
                        {%  endif %}
                        <th>Tenor</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in current_ticker.items %}
                        <tr>
                            <td>{{ value.exchange }}</td>
                            <td>{{ currency_type }}</td>
                            {% if currency_type != "SPOT" and currency_type != "SWAP" %}
                                <td>{{ value.settlement_date }}</td>
                            {% endif %}
                            {% if currency_type == "SWAP" %}
                                <td>{{ value.settlement_date }}</td>
                                <td>{{ value.settlement_date }}</td>
                            {% endif %}
                            <td>{{ value.tenor }}</td>
                            <td>{{ value.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="main-page-link">
                <a href="{% url 'main_view' %}">Go to Main Page</a>
            </p>
        </div>
    </div>

    <script>
        window.onload = function() {
            const checkboxes = document.querySelectorAll('#filter-form input[type=checkbox]');
            checkboxes.forEach(function(checkbox) {
                const checkboxState = localStorage.getItem(checkbox.id);
                if (checkboxState === 'true') {
                    checkbox.checked = true;
                }
            });
            filterTable();
        };

        function updateCheckboxState(checkbox) { {# update a checkbox visually  #}
            localStorage.setItem(checkbox.id, checkbox.checked);
            filterTable();
        }

        function selectAllExchanges(checkbox) {   {# choose exchanges #}
            const exchangeCheckboxes = document.getElementsByName('exchange'); {# choose exchanges #}
            {# name="exchange" value="all" onclick="selectAllExchanges(this);"> #}
            for (let i = 0; i < exchangeCheckboxes.length; i++) {
                exchangeCheckboxes[i].checked = checkbox.checked;
                updateCheckboxState(exchangeCheckboxes[i]);
            }
            filterTable();
        }

        function filterTable() {  {# filter out table #}
            const exchangeCheckboxes = document.getElementsByName('exchange');
            const exchangeTable = document.getElementById('exchange-table');
            const rows = exchangeTable.getElementsByTagName('tr');
            let isAnyCheckboxChecked = false;

            for (let i = 0; i < exchangeCheckboxes.length; i++) {
                if (exchangeCheckboxes[i].checked) {
                    isAnyCheckboxChecked = true;
                    break;
                }
            }

            for (let i = 1; i < rows.length; i++) {
                const exchangeName = rows[i].getElementsByTagName('td')[0].innerText;
                let shouldDisplay = false;
                if (exchangeName === 'Exchange') {
                    shouldDisplay = true; // Display table header
                } else {
                    if (isAnyCheckboxChecked) {
                        for (let j = 0; j < exchangeCheckboxes.length; j++) {
                            if (exchangeCheckboxes[j].checked && exchangeCheckboxes[j].value === exchangeName) {
                                shouldDisplay = true;
                                break;
                            }
                        }
                    } else {
                        shouldDisplay = true; // Display all rows when no checkboxes are checked
                    }
                }
                rows[i].style.display = shouldDisplay ? '' : 'none';
            }
        }

        document.getElementById('filter-form').addEventListener('change', function(event) {
            if (event.target.type === 'checkbox') {
                updateCheckboxState(event.target);
            }
        });
    </script>
</body>
</html>
