{% extends 'base.html' %}
{% load static %} <!-- Loading the static files -->
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Exchanges report">
    <title>Exchanges report</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">

    <!-- Loading external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'app_exchanges/css/main.css' %}">

</head>

<body>



    <div class="container">
        <div class="sidebar1">
            <form id="filter-form" method="GET" action="{% url 'main_view' %}"> <!-- Creating a form for filtering -->
                <h3>Main Filters</h3>
                <ul class="checkbox-list">
                    <li>
                        <strong>Asset class</strong>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="all">
                            All Asset Classes
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="Commodity">
                            Commodity
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="Currency">
                            Currency
                        </label>
                    </li>
                </ul>

                <h3>Currency filters</h3>
                <ul class="checkbox-list">
                    <li>
                        <strong>Currency Type</strong>
                    </li>
                    {% for type in currency_types %} <!-- iterate through currency types -->
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="types" value="{{ type }}">
                            {{ type }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit">Apply Filters</button>
                <button type="reset" onclick="location.href='{{ request.path }}'">Reset Filters</button>
            </form>
        </div>
        <div class="content">
            <h1>Exchanges Report</h1>
            <table class="full-width-table">
                <thead>
                    <tr>
                        <th>Asset class</th>
                        <th class="fixed-width">Ticker</th>
                        <th>Trade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticker, info in all_tickers.items %} <!-- iterate through ticker info -->
                    <tr class="ticker-row" data-asset-class="{{ info.asset_class }}">
                        <td>{{ info.asset_class }}</td>
                        <td class="fixed-width">{{ info.ticker }}</td>
                        <th>
                            <a href="{% url 'asset_class' info.asset_class|slugify info.ticker|slugify ticker.1 %}">Compare prices</a>
                        </th>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No tickers found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
</body>
</html>
