{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Exchanges report">
    <title>Exchanges report</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app_exchanges/css/main.css' %}">
    <style>
        /* Add custom styles for the checkbox list */
        .checkbox-list {
            list-style-type: none;
            padding: 0;
        }
        .checkbox-list li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <a class="top-right-link" href="{% url 'admin_dashboard' %}">Go to Admin Dashboard</a>{# link to the admin dashboard #}
    <div class="container">
        <div class="sidebar1"> {# link to the admin dashboard #}
            <h2>Logo</h2>
            <form id="filter-form" method="GET" action="{% url 'main_view' %}">
                <h3>Main Filters</h3>
                <ul class="checkbox-list"> {# checkboxes for asset classes #}
                    <li>
                        <strong>Asset class</strong>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="all">{# checkbox for all #}
                            All Asset Classes
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="Commodity">{# checkbox for commodity #}
                            Commodity
                        </label>
                    </li>
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="asset_class" value="Currency">{# checkbox for currency #}
                            Currency
                        </label>
                    </li>
                </ul>
                <h3>Currency filters</h3>
                <ul class="checkbox-list">
                    <li>
                        <strong>Currency Type</strong>
                    </li>
                    {% for type in currency_types %}
                    <li>
                        <label class="checkbox-label">
                            <input type="checkbox" name="types" value="{{ type }}">  {# checkbox for each currency type #}
                            {{ type }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit">Apply Filters</button>
                <button type="reset" onclick="location.href='{{ request.path }}'">Reset Filters</button> <!-- Updated button with onclick event -->
            </form>
        </div>
        <div class="content">
            <h1>Exchanges Report</h1>
            <table>
                <thead>
                    <tr>
                        <th>Asset class</th>
                        <th class="fixed-width">Ticker</th>
                        <th>Trade</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticker, info in all_tickers.items %}
                    <tr class="ticker-row" data-asset-class="{{ info.asset_class }}">
                        <td>{{ info.asset_class }}</td>
                        <td class="fixed-width">{{ info.ticker }}</td>
                        <th>
                            <a href="{% url 'asset_class' info.asset_class|slugify info.ticker|slugify ticker.1 %}">Compare prices</a>
                        </th>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No tickers found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
