{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Your page description here">
    <meta name="keywords" content="your, keywords, here">
    <meta name="author" content="Your Name">
    <title>{% block title %}{% endblock %} - Exchanges Report</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'app_exchanges/css/compare_prices.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar2">
            <h2>Find best offer</h2>
            <form id="filter-form" method="GET">
                <ul>
                    <li>
                        <input type="checkbox" id="all" name="exchange" value="all" onclick="selectAllExchanges(this);">
                        <label for="all">All</label>
                    </li>
                    {% for key, value in asset_specific_exchanges.items %}
                        <li>
                            <input type="checkbox" id="{{ key }}" name="exchange" value="{{ key }}">
                            <label for="{{ key }}">{{ value }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
        <div class="content">
            <h1>{{ asset_class_info.descr }}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
    <script>
        // Here comes your JavaScript code...
    </script>
</body>
</html>
